@import './shared/reset';
@import './shared/config';
@import url('https://fonts.googleapis.com/css?family=Tinos');
@import './components/modal';

body {
  font-family: 'Tinos', serif;
  font-size: 18px;

  section.carpetbase {
    > header {
      background: $brand-colour;
      padding: 20px;
      box-sizing: border-box;

      @media (max-width: $mobile-break) {
        padding: 10px;
        display: flex;
        justify-content: space-between;
      }

      > div.wrapper {
        > section.top {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          > a:first-of-type {
            width: 300px;
            height: 85px;
            background: url('/images/logo.png') 50% no-repeat;
            background-size: cover;

            @media (max-width: $tablet-break) {
              width: 225px;
              height: 64px;
            }

            @media (max-width: $mobile-break) {
              width: 150px;
              height: 43px;
            }

            > h1 {
              position: absolute;
              left: -999999px;
            }
          }

          > section.header-contact {
            display: flex;

            span.email {
              background: url('/images/email.svg') 50% no-repeat;
              background-size: 30px;

              @media (max-width: $mobile-break) {
                background-size: 23px;
              }
            }

            span.telephone {
              background: url('/images/phone.svg') 50% no-repeat;
              background-size: 28px;
              margin-right: 15px;

              @media (max-width: $mobile-break) {
                background-size: 21px;
                margin-right: 8px;
              }
            }
          }
        }

        > section.bottom {
          margin: 20px 0 10px;
          box-sizing: border-box;

          @media (max-width: $mobile-break) {
            margin: 10px 0 0 15px;
          }

          h4 {
            color: $header-footer-font;
            font-size: 20px;
            font-weight: normal;

            @media (max-width: $mobile-break) {
              font-size: 16px;
            }
          }
        }
      }

      > nav.navigation {
        background: $brand-colour;

        @media (max-width: $mobile-break) {
          display: flex;
          align-items: center;

          > div.trigger {
            cursor: pointer;

            > span {
              width: 35px;
              height: 5px;
              background-color: white;
              margin: 6px 0;
              transition: 0.25s;
              display: block;
            }

            &.active {
              position: fixed;
              z-index: 10;
              right: 0;
              top: 0;
              margin: 25px 10px;

              > span {
                &:first-of-type {
                  transform: rotate(-45deg) translate(-9px, 6px);
                }

                &:not(:first-of-type):not(:last-of-type) {
                  opacity: 0;
                }

                &:last-of-type {
                  transform: rotate(45deg) translate(-8px, -8px);
                }
              }
            }
          }
        }

        > section.nav-wrap {
          @media (max-width: $mobile-break) {
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            transition: 0.2s all;
            visibility: hidden;
            pointer-events: none;
            min-height: 300px;
            background: $brand-colour;
            z-index: 1;
          }

          &.active {
            visibility: visible;
            pointer-events: all;
          }

          > div > ul {
            display: flex;
            align-items: center;
            width: 600px;

            > li {
              display: flex;
              justify-content: space-between;
              align-items: center;
              position: relative;
              padding: 10px 20px;

              &:not(:first-of-type):not(:last-of-type)::after {
                $size: 20px;

                content: "-";
                text-align: center;
                color: white;
                margin-right: -($size / 2);
                position: absolute;
                width: $size;
                right: 0;

                @media (max-width: $mobile-break) {
                  display: none;
                }
              }

              > a {
                display: block;
                box-sizing: border-box;
                text-decoration: none;
                font-size: 18px;
                color: $header-footer-font;

                &:first-of-type {
                  margin: 0;
                }

                &:hover {
                  text-decoration: underline;

                  > span {
                    > img {
                      opacity: 0.8;
                    }
                  }
                }

                > span {
                  > img {
                    height: 25px;
                    width: 25px;
                  }
                }
              }

              &:first-child {
                margin: 0;
                padding: 0;
              }
            }

            @media (max-width: $mobile-break) {
              width: auto;
              flex-direction: column;
            }
          }
        }
      }
    }

    > main {
      min-height: 100vh;
      padding: 10px 20px;
      box-sizing: border-box;

      > section {
        > h1 {
          font-size: 50px;
          text-align: center;
          margin: 30px 0 50px;
          text-decoration: underline;

          @media (max-width: $mobile-break) {
            font-size: 30px;
            margin: 20px 0 30px;
          }
        }
      }

      section.featured-gallery {
        box-sizing: border-box;
        padding: 10px;
        height: 600px;

        @media (max-width: $tablet-break) {
          height: 450px;
        }

        @media (max-width: $mobile-break) {
          height: 350px;
        }

        @import './components/carousel';
      }

      section.galleries {
        > ul {
          display: flex;
          flex-wrap: wrap;
          margin: 10px 0;

          > li {
            width: 33.33%;
            box-sizing: border-box;
            min-height: 500px;
            padding: 10px;

            @media (max-width: $tablet-break) {
              min-height: 400px;
            }

            @media (max-width: $mobile-break) {
              width: 100%;
              min-height: 300px;
            }

            li:nth-child(odd) {
              padding: 20px;
            }

            > span {
              box-sizing: border-box;
              display: flex;
              height: 100%;
              align-items: center;
              justify-content: space-around;
              text-decoration: none;
              color: $header-footer-font;

              &:hover {
                > figure {
                  visibility: visible;
                  background: rgba($brand-colour, 0.8);
                  color: white;

                  > figcaption {
                    > a {
                      visibility: visible;
                    }
                  }
                }
              }

              > figure {
                visibility: hidden;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 100%;
                color: transparent;
                transition: all 0.3s;

                > figcaption {
                  width: 70%;
                  text-align: center;

                  > header {
                    margin: 20px 0;
                    font-size: 2em;
                    text-decoration: underline;
                  }

                  > a {
                    @include lightenButton;

                    background: white;
                    color: $brand-colour;
                    visibility: hidden;
                    transition: visibility 0s;
                    transition: color 0.3s;
                    text-decoration: none;
                    margin: 20px auto;
                    width: 50%;
                    display: block;

                    &:hover {
                      background: darken(white, 25);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    > footer {
      background: $brand-colour;
      padding: 20px;
      box-sizing: border-box;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      @media (max-width: $mobile-break) {
        flex-direction: column-reverse;
        align-items: left;
        padding: 10px;
      }

      > ul {
        @media (max-width: $mobile-break) {
          font-size: 16px;
        }
      }

      > ul.left {
        > li {
          a {
            color: white;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          > p {
            font-size: 10px;
          }
        }
      }

      > ul.right {
        @media (max-width: $mobile-break) {
          margin-bottom: 20px;
        }

        > li {
          &:first-of-type {
            margin-bottom: 10px;
            margin-left: 7px;
          }

          > div {
            > ul {
              display: flex;

              > li {
                > a {
                  display: block;
                  margin: 0 5px;

                  > span {
                    > img {
                      width: 40px;
                      height: 40px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
