@import '../../mixins';

section.galleries {
  > h1 {
      @include header;
  }

  > button {
    @include button;
  }

  > ul {
    @include list-container;

    > li {
      @include list-row;

      > a {
        text-decoration: underline;
        cursor: pointer;
        padding-left: 10px;

        &:first-of-type {
          margin-left: auto;
        }
      }
    }
  }
}
