@import '../../mixins';

section.login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;

  label {
    display: block;
    margin: 10px 0;
  }

  input[type="text"],
  input[type="password"] {
    @include textbox;

    width: 300px;
    text-align: center;
  }

  button {
    @include button;

    margin: 10px 0;
  }
}
