@import '../../mixins';

section.meta {
  > h1 {
    @include header;
  }

  a {
    color: #545452;

    &:hover {
      color: darkgreen;
    }
  }

  > form {
    > div {
      &.lat-long > input:first-of-type {
        border-right: none;
      }

      > header {
        @include title;

        margin: 10px 0;
      }

      > label {
        @include description;

        margin-bottom: 5px;
        display: block;
      }

      > input[type="text"],
      > input[type="number"],
      > textarea {
        @include textbox;
      }

      > input[type="number"] {
        width: 50%;
      }

      > textarea {
        min-height: 120px;
      }
    }

    > button {
      @include button;

      margin: 10px 0;
    }
  }
}
