@import '../../mixins';

section.pages {
  padding-bottom: 20px;

  > h1 {
    @include header;
  }

  > button {
    @include button;

    margin: 10px 0;
  }

  > ul {
    @include list-container;

    > li {
      @include list-row;

      padding: 20px 15px;

      > a {
        text-decoration: underline;
        cursor: pointer;
        padding-left: 10px;
        color: #545452;

        &:hover {
          color: darkgreen;
        }

        &:first-of-type {
          margin-left: auto;
        }
      }
    }
  }
}
