@import '../../mixins';

section.page {
  > h1 {
      @include header;
  }

  > form {

    > details {
      @include details-container;

      > summary {
        @include details-summary;
      }

      &.layout > main > ul {
        display: flex;

        > li {
          display: flex;
          margin-right: 10px;

          > input[type="radio"] {
            margin-right: 5px;
          }
        }
      }

      &.hero > main {
        display: flex;
        flex-direction: row;

        > div {
          @include dropzone;
          flex: 1;
          margin-right: 10px;
        }

        > section.preview {
          flex: 1;
          display: flex;
          flex-direction: column;
          margin-left: 10px;

          > img {
            width: 200px;
          }

          > a {
            margin-top: 10px;
            cursor: pointer;
          }
        }


        // > div:not(.preview) {
        //   @include dropzone-container;

        //   > section.preview {
        //     @include dropzone-preview;
        //   }
        // }
      }

      &.galleries > main {

        > div.featured {
          display: flex;
          flex-direction: row;

          > label {
            margin-right: 5px;
          }
        }
      }
    }

    > details:not(:last-of-type) {
      border-bottom: none;
    }

    label {
      display: block;
    }

    input[type="text"],
    textarea {
      @include textbox;
    }
    
    > button {
      @include button;
    }
  }
}
